<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FFWebBridgeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17C7F5D51C7C3B6F00CB7059</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17C7F5EE1C7C3B6F00CB7059</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17C7F5F91C7C3B6F00CB7059</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
